<h1>Welcome to Coin Combo!</h1>
<form action="/cents">
  <div class="form-group">
    <label for="cents">How much change do you have?</label>
    <input id="cents" name="cents" class="form-control" type="number">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
